ASPNETCORE_ENVIRONMENT=
ASPNETCORE_URLS=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_JWKS_URL=
JWT_SECRET=
SUPABASE_URL=
AUTH_SERVICE_URL=
ORDER_SERVICE_URL=
PLANNING_SERVICE_URL=
LOADING_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
