SERVER_PORT=8080
GRPC_PORT=9090
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_URL=
PLANNING_GRPC_HOST=planning-service
PLANNING_GRPC_PORT=9090
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=
SUPABASE_DB_NAME=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
JWT_ISSUER=
MAPBOX_ACCESS_TOKEN=
