SERVER_PORT=8080
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=waypoint
RABBITMQ_PASSWORD=
ORDER_SERVICE_GRPC_HOST=order-service
ORDER_SERVICE_GRPC_PORT=9090
