SERVER_PORT=8080
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=waypoint
RABBITMQ_PASSWORD=
ORDER_GRPC_PORT=9090
PLANNING_SERVICE_GRPC_HOST=planning-service
PLANNING_SERVICE_GRPC_PORT=9090
SEED_DATA_PATH=/app/data
GRPC_TLS_ENABLED=false
GRPC_TLS_CERTIFICATE_CHAIN=
GRPC_TLS_PRIVATE_KEY=
GRPC_TLS_TRUST_CERT_COLLECTION=
GRPC_TLS_CLIENT_AUTH=REQUIRE
