SERVER_PORT=8080
SUPABASE_DB_URL=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
ORDER_GRPC_PORT=9090
PLANNING_SERVICE_GRPC_HOST=planning-service
PLANNING_SERVICE_GRPC_PORT=9090
SEED_DATA_PATH=/app/data
